@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-display: swap;
  src: url("./fonts/Poppins-Regular.woff2");
}

:root {
  accent-color: light dark;
  --color-brand: rgb(44, 63, 212);
  --color-brand-hover: rgb(77, 102, 242);

  --color-accent: rgb(230, 26, 153);
  --color-accent-hover: rgb(242, 77, 179);

  --color-primary: rgb(250, 250, 250);
  --color-primary-hover: rgb(235, 235, 235);
  --color-secondary: rgb(220, 220, 220);
  --color-secondary-hover: rgb(230, 230, 230);
  --color-text: rgb(26, 26, 26);
  --color-text-disabled: rgb(135, 135, 135);
}

/* dark mode override */
@media (prefers-color-scheme: da2rk) {
  :root {
    --color-primary: rgb(26, 26, 26);
    --color-primary-hover: rgb(43, 43, 43);
    --color-secondary: rgb(56, 56, 56);
    --color-secondary-hover: rgb(60, 60, 60);
    --color-text: rgb(250, 250, 250);
  }
}

* {
    box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif, system-ui;
  background: var(--color-primary);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  padding: 1rem;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.hover-style--brand {
    --hover-bg: var(--color-brand-hover);
    --hover-text: #FFF;
}