/* common */

@keyframes spin {
  0% {
    transform: var(--hover-transform,) rotate(0deg);
    font-size: 1.5em;
  }
  100% {
    transform: var(--hover-transform,) rotate(360deg);
    font-size: 1.5em;
  }
}

.clickable {
  will-change: background, color, scale;
  --hover-transform: scale(0.8)
}

.clickable:hover,
.clickable:focus {
  background: var(--hover-bg, var(--color-secondary-hover)) !important;
  color: var(--hover-text, var(--color-text)) !important;
  transform: var(--hover-transform, );
}

.clickable:focus-visible {
  outline: 3px solid orange
}

/* header */

.primary-header {
  position: sticky;
  height: fit-content;
  display: flex;
  gap: 1rem;
  top: 1rem;
}

.header-text {
  font-size: 1.75rem;
}

.header-group {
  display: flex;
  width: fit-content;
  padding: 1rem;
  border-radius: 50vw;
  background: var(--color-secondary);
  transition: background 200ms ease-in-out;
}

.header-group.group-primary {
  flex: 1;
  min-width: 0;
}

.header-group.group-icon {
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0 0 10px 1px var(--color-secondary);
}

.header-group.group-icon:hover,
.header-group.group-icon:focus,
.header-group.group-icon:focus-within {
  background: var(--hover-bg, var(--color-secondary-hover));
  color: var(--hover-text, var(--color-text));
}

.header-group.group-icon > button {
  color: inherit;
}

.header-group:has(.btn-back) {
  background: none;
  --hover-bg: var(--color-secondary-hover);
}

.header-title {
  user-select: none;
  pointer-events: none;
  touch-action: none;
  margin: 0 1rem;
}

/* footer */

.primary-footer.floating {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* bottom navbar */

.bottom-navbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--color-primary);
  box-shadow: 0 0 2px 1px var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}

/* top navbar */

.top-navbar {
  display: none;
}

/* page */

.page {
  max-height: 100vw;
  height: 100%;
  overflow-x: auto;
  display: none;
}

.page.active {
  display: block;
}

/* buttons */

.btn-icon {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon-footer {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color-text-disabled);
  --hover-bg: var(--color-primary-hover);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2px;
  gap: 5px;
}

.btn-icon-footer.active {
  color: var(--color-text);
  border-bottom: 4px solid var(--color-brand);
  --hover-text: var(--color-text);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-icon-footer > i {
  font-size: 1.5rem;
}

.btn-fab {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  --bg-hover: var(--color-secondary-hover, red);
  border-radius: 1rem;
  padding: 1rem;
}

/* tooltip */

.tooltip-container {
  position: fixed;
  padding: 6px 10px;
  border-radius: 6px;
  background: var(--color-primary);
  color: var(--color-text);
  font-size: 13px;
  box-shadow: var(--color-secondary) 0 0 15px 1px;

  pointer-events: none;
  user-select: none;
  opacity: 0;
  transform: scale(0.95);
  transition: 0.12s ease;
}

.tooltip-container.show {
  opacity: 0.95;
  transform: scale(1);
}

/* FAB */

/* .page-fab {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: clamp(1rem, 15vw, 2rem);
}

.fab-display {
  cursor: pointer;
  background: var(--color-brand);
  color: var(--color-primary);
  --hover-bg: var(--color-brand-hover);
  --hover-text: var(--color-primary);
  border-right: 1px solid white;
  border-left: 1px solid black;
  width: min(4rem, 15vw);
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border-radius: 50vw;
  line-height: 1rem;
}

.fab-display:not(.show) button {
  will-change: width;
  touch-action: none;
  pointer-events: none;
  width: 0%;
}

.fab-display.show, .fab-display.show button {
  animation: spin 1500ms ease-in-out 40ms;
}

.fab-display.show button {

}

.fab-display:active {
  background: var(--color-brand-hover);
}

.fab-content {
  will-change: opacity, bottom, height, transform;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column-reverse;
  touch-action: none;
  pointer-events: none;
  user-select: none;
  transition: bottom 100ms ease-in, opacity 100ms ease, height 150ms ease-in,
    transform 150ms ease-out;
  transform: scale(0.1);
  opacity: 0;
  bottom: 0%;
  height: 0%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.fab-display.show ~ .fab-content {
  touch-action: auto;
  pointer-events: auto;
  visibility: visible;
  opacity: 100%;
  bottom: 100%;
  height: 100%;
  transform: scale(1);
} */
